<footer id="footer" class="section">
    <p class="bold">© LUMINE Co., Ltd.</p>
</footer>
<div id="to-top" class="scroll-trigger" data-target="top">
  <div class="hover">
    <%- include('./_to-top') %>
    <p class="shippori">PAGE TOP</p>
  </div>
</div>