<footer id="footer" class="section">
    <h1 class="logo">
      <a href="//www.lumine.ne.jp/" target="_blank" rel="noopener" class="hover">
        <img src="./assets/img/lumine.svg" alt="LUMINE">
      </a>
    </h1>
    <p class="bold">© LUMINE Co., Ltd.</p>
</footer>
<div id="to-top" class="scroll-trigger" data-target="top">
  <div class="hover">
    <%- include('./_to-top') %>
    <p class="shippori">PAGE TOP</p>
  </div>
</div>