<header id="header">
    <h1 class="scroll-trigger" data-target="top">
        <img src="./assets/img/eato-lumine.svg" alt="EATo LUMINE">
    </h1>
    <div class="menu-trigger">
        <div>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div id="menu">
        <h1 class="logo">
            <img src="./assets/img/eato-lumine.svg" alt="EATo LUMINE">
        </h1>
        <nav>
            <ul>
                <li class="scroll-trigger jump" data-target="shop-list">
                    <span class="shippori" data-splitting>
                        SHOP LIST
                    </span>
                </li><br class="sp" />
                <li class="scroll-trigger jump" data-target="store-map">
                    <span class="shippori" data-splitting>
                        STORE MAP
                    </span>
                </li><br class="sp" />
                <li class="scroll-trigger jump" data-target="store-information">
                    <span class="shippori" data-splitting>
                        STORE INFORMATION
                    </span>
                </li>
                <li class="scroll-trigger jump" data-target="about">
                    <span class="shippori" data-splitting>
                        CONCEPT
                    </span>
                </li>
            </ul>
        </nav>
        <div class="sns">
          <p class="title shippori">FOLLOW US ON</p>
          <a href="//www.instagram.com/eato_lumine" target="_blank" rel="noopener" class="show addactive">
            <img class="hover" src="./assets/img/insta.svg" width="50" height="50" alt="" loading="lazy" />
          </a>
        </div>
    </div>
</header>