<div id="overlay" class="scene1">
    <div class="close overlay-trigger">
        <div></div>
        <div></div>
    </div>
    <div class="inner flex space-between align-center">
        <div class="box">
            <div class="swiper-container product-slider">
                <div class="swiper-wrapper" id="overlay-imgs">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="box">
            <div class="logo">
                <img id="overlay-logo" src="./assets/img/logo/1.png" alt="">
            </div>
            <div class="wrapper">
                <div class="wrapper-content">
                    <header class="flex space-between align-end">
                        <p class="name">
                            <span id="overlay-name" class="bold">RF1	／神戸コロッケ</span><br/>
                            <span id="overlay-cat" class="cat">フード</span>
                        </p>
                        <p id="overlay-tel" class="tel">℡ ◯◯-◯◯◯◯-◯◯◯◯</p>
                    </header>
                    <p id="overlay-text" class="text">
                        サラダを中心に、健康、安心・安全、鮮度にこだわったそうざいをお客様にご提案する「RF1」。素材本来のおいしさを引き出したコロッケなどを揃える「神戸コロッケ」。お客様の毎日の豊かな食卓をサポートします。
                    </p>
                </div>
                <div class="wrapper-content limited">
                    <p class="limited-title bold">LIMITED ITEM</p>
                    <header>
                        <p class="name">
                            <span id="overlay-limited-name" class="bold">RF1 ラッキーバック  / ¥◯◯◯</span>
                        </p>
                    </header>
                    <p id="overlay-limited-text" class="text">
                        サラダやスープ、アソートセット等さまざまな味わいを愉しめる、アール・エフ・ワン人気のメニュー6点に、次回以降使えるクーポン券も入ったお得なセットです。オリジナル保冷バッグに入れてお渡しします。
                    </p>
                </div>
            </div>
        </div>
    </div> 
</div>