<div class="shop">
    <div class="shop-img">
      <img src="./assets/img/shop<%- index %>.png" width="480" height="361" alt="" loading="lazy"/>
    </div>
    <p class="shop-name">
        <span class="en bold"><%- data[0] %></span>
        <span class="ja"><%- data[1] %></span>
    </p>
</div>