@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

.reset {
  transition: none !important;
  animation: none !important;
}
.reset * {
  transition: none !important;
  animation: none !important;
}

@media screen and (max-width: 749px) {
  .pc {
    display: none !important;
  }
  .flex-sp {
    display: flex;
  }
  .flex-sp.space-between {
    justify-content: space-between;
  }
  .flex-sp.justify-center {
    justify-content: center;
  }
  .flex-sp.justify-end {
    justify-content: flex-end;
  }
  .flex-sp.align-center {
    align-items: center;
  }
  .flex-sp.align-end {
    align-items: flex-end;
  }
  .flex-sp.flex-wrap {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 10px;
  }
  .sp {
    display: none !important;
  }
  .flex {
    display: flex;
  }
  .flex.space-between {
    justify-content: space-between;
  }
  .flex.justify-center {
    justify-content: center;
  }
  .flex.justify-end {
    justify-content: flex-end;
  }
  .flex.align-center {
    align-items: center;
  }
  .flex.align-end {
    align-items: flex-end;
  }
  .flex.flex-wrap {
    flex-wrap: wrap;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotationReverse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 102%, 0);
  }
  50.999% {
    opacity: 1;
    transform: translate3d(0, 102%, 0);
  }
  51% {
    opacity: 0;
    transform: translate3d(0, 102%, 0);
  }
  51.999% {
    opacity: 0;
    transform: translate3d(0, -102%, 0);
  }
  52% {
    opacity: 1;
    transform: translate3d(0, -102%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rotationReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotationReverse_ {
  from {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(-360deg);
  }
}
@keyframes ellipse {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(360deg);
  }
}
@keyframes dotScaleDown {
  0% {
    transform: translate3d(-50%, 0, 0) 1;
  }
  100% {
    transform: translate3d(-50%, 0, 0) scale(0);
  }
}
@keyframes dotScale {
  0% {
    transform: translate3d(-50%, 0, 0) 0;
  }
  60% {
    transform: translate3d(-50%, 0, 0) scale(1.4);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scale(1);
  }
}
@keyframes left1 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-10deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-80deg);
  }
}
@keyframes left2 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-20deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-70deg);
  }
}
@keyframes left3 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-30deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-60deg);
  }
}
@keyframes left4 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-40deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-50deg);
  }
}
@keyframes left5 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-50deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-40deg);
  }
}
@keyframes left6 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-60deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-30deg);
  }
}
@keyframes left7 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-70deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-20deg);
  }
}
@keyframes left8 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-80deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-10deg);
  }
}
@keyframes right1 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(10deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(80deg);
  }
}
@keyframes right2 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(20deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(70deg);
  }
}
@keyframes right3 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(30deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(60deg);
  }
}
@keyframes right4 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(40deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(50deg);
  }
}
@keyframes right5 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(50deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(40deg);
  }
}
@keyframes right6 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(60deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(30deg);
  }
}
@keyframes right7 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(70deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(20deg);
  }
}
@keyframes right8 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(80deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(10deg);
  }
}
@keyframes left1Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-10deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(350deg);
  }
}
@keyframes left2Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-20deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(340deg);
  }
}
@keyframes left3Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-30deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(330deg);
  }
}
@keyframes left4Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-40deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(320deg);
  }
}
@keyframes left5Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-50deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(310deg);
  }
}
@keyframes left6Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-60deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(300deg);
  }
}
@keyframes left7Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-70deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(290deg);
  }
}
@keyframes left8Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-80deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(280deg);
  }
}
@keyframes right1Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(10deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(370deg);
  }
}
@keyframes right2Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(20deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(380deg);
  }
}
@keyframes right3Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(30deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(390deg);
  }
}
@keyframes right4Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(40deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(400deg);
  }
}
@keyframes right5Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(50deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(410deg);
  }
}
@keyframes right6Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(60deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(420deg);
  }
}
@keyframes right7Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(70deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(430deg);
  }
}
@keyframes right8Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(80deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(440deg);
  }
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  font-feature-settings: "palt";
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #281575;
  opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
}
body ::-moz-selection {
  color: #ffffff;
  background-color: #281575;
}
body ::selection {
  color: #ffffff;
  background-color: #281575;
}
body.loaded, body.visited {
  opacity: 1;
}
body .hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.futura {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.underline {
  color: #000000;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.whitespace {
  white-space: nowrap;
}

.red {
  color: red !important;
}

@media screen and (max-width: 749px) {
  .show {
    opacity: 0;
    transform: translate3d(0, 1.3333333333vw, 0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 3s, opacity cubic-bezier(0.19, 1, 0.22, 1) 3s;
  }
  .show.active {
    opacity: 1;
    will-change: opacity, transform;
    transform: translate3d(0, 0, 0) scale(1);
  }
  #to-top {
    position: fixed;
    right: 2.6666666667vw;
    bottom: 16.6666666667vw;
    width: 13.3333333333vw;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    z-index: 10;
  }
  #to-top.active {
    pointer-events: initial;
    opacity: 1;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13.3333333333vw;
    background-color: #000000;
  }
  #footer p {
    font-size: 1.1rem;
    font-size: 2.9333333333vw;
    text-align: center;
    color: #ffffff;
  }
}
@media screen and (min-width: 750px) {
  .show {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 3s, opacity cubic-bezier(0.19, 1, 0.22, 1) 3s;
  }
  .show.active {
    opacity: 1;
    will-change: opacity, transform;
    transform: translate3d(0, 0, 0);
  }
  .hover, .scroll-trigger, a.underline {
    transition: opacity 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  .hover:hover, .scroll-trigger:hover, a.underline:hover {
    opacity: 0.5;
    will-change: opacity;
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    right: 5rem;
    bottom: 10rem;
    width: 5rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    z-index: 10;
  }
  #to-top.active {
    pointer-events: initial;
    opacity: 1;
  }
  #bottom {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 0;
    height: 18.5rem;
    width: 5rem;
    background-color: #f7f8f8;
    border: 0.1rem solid #000000;
    transform: translate3d(0, -50%, 0);
    z-index: 10;
  }
  #bottom .text {
    font-feature-settings: initial;
    writing-mode: vertical-rl;
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    color: #000000;
    font-weight: bold;
  }
  #bottom svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
  }
  #bottom svg * {
    fill: #221815;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    width: 16rem;
    background-color: #281575;
    z-index: 10;
  }
  #header a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    height: 100%;
    width: 100%;
  }
  #header a img {
    width: 10rem;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #281575;
  }
  #footer p {
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    color: #ffffff;
  }
  main .section__inner {
    margin: 0 auto;
    width: 84.375%;
    max-width: 108rem;
  }
  main section {
    position: relative;
  }
  main section#top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;
    z-index: 1;
  }
  main section#top .logo {
    z-index: 1;
    width: 50rem;
  }
  main section#top .date {
    position: absolute;
    left: 50%;
    bottom: -3.15rem;
    transform: translate3d(-50%, 0, 0);
    height: 6.3rem;
    line-height: 6.3rem;
    width: 50rem;
    text-align: center;
    font-size: 38px;
    font-size: 3.8rem;
    letter-spacing: 0.08em;
    border: 0.2rem solid #281575;
    border-radius: 3.15057rem;
  }
  main section#concept {
    padding: 10rem 0;
    background-color: #E7E5F0;
  }
  main section#concept .concept-box {
    padding: 10rem 0;
    margin-bottom: 10rem;
    border-radius: 8rem;
    background-color: #281575;
  }
  main section#concept .concept-box h2 {
    margin: 0 auto 6rem;
    width: 64.84033rem;
  }
  main section#concept .concept-box p {
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.15em;
    line-height: 2.125;
    color: #ffffff;
    text-align: center;
  }
  main section#concept .wrapper .content h3 {
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: 3.5rem;
    font-size: 54px;
    font-size: 5.4rem;
    letter-spacing: 0.1em;
    color: #281575;
    overflow: hidden;
  }
  main section#concept .wrapper .content h3::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    height: 0.2rem;
    width: 100%;
    will-change: transform;
    background-color: #281575;
  }
  main section#concept .wrapper .content p {
    font-size: 15px;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    line-height: 2.4666666667;
  }
  main section#concept .wrapper .img {
    width: 45.42279rem;
  }
  main section#more {
    padding: 22rem 0 10rem;
  }
  main section#more .more {
    text-align: center;
  }
  main section#more .more p {
    position: relative;
    display: inline-block;
  }
  main section#more .more .en {
    padding-bottom: 3rem;
    margin-bottom: 2.5rem;
    font-size: 30px;
    font-size: 3rem;
  }
  main section#more .more .en::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    height: 0.2rem;
    width: 100%;
    will-change: transform;
    background-color: #281575;
  }
  main section#more .more .ja {
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.02em;
  }
}