<%
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: 'https://www.lumine.ne.jp/eato-lumine', ogimage: 'https://www.lumine.ne.jp/eato-lumine/assets/img/ogp.jpg'}) %>
</head>

<body class="">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTQ2S2R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFRJDJN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
  <%- include('parts/_header') %>
  <main>
    <section id="top" class="section">
      <h1 class="logo">
        <img id="logo" src="" alt="EATo LUMINE">
      </h1>
      <p class="date futura addactive show">
        <img src="./assets/img/date.svg" width="526" height="34" alt="2024.4.17wed  OPEN!" />
      </p>
    </section>
    <section id="concept" class="section">
      <div class="section__inner">
        <div class="concept-box addactive show">
          <h2 class="addactive show">
            <picture>
              <source srcset="./assets/img/concept-text_sp.svg" media="(max-width:749px)" width="421" height="117" />
              <img src="./assets/img/concept-text.svg" width="648" height="32" alt="EAToでイイトキ、イイトキメキ。" />
            </picture>
          </h2> 
          <p class="addactive show bold">
            話題のお店や流行りの場所に行くと<br class="sp"/>刺激がもらえて心がときめく。<br/>
            でも、時間がある休みの日じゃないと<br class="sp"/>なかなか行けない。<br/><br/>
            EATo LUMINEはそんな私が毎日、<br class="sp"/>食で刺激をチャージできる場所。<br/>
            エキナカにあるから<br class="sp"/>時間がない時でも立ち寄れる。<br/>
            気軽に入って、<br class="sp"/>クリエイティブで充実した<br class="sp"/>“トキ”をすごせる。<br/>
            話題のお店や初めての出会いが<br class="sp"/>たくさんあって、<br class="sp"/>毎日“トキメキ”が手に入る。<br/><br/>
            いつも、いつでも、<br/>
            EATo LUMINEで<br class="sp"/>イイトキ、イイトキメキを。
          </p>
        </div>
        <div class="wrapper flex space-between">
          <div class="content">
            <h3 class="futura bold addactive show">
              <img src="./assets/img/concept-map.svg" width="589" height="47" alt="CONCEPT & MAP" />
            </h3>
          <div class="img addactive show sp">
            <picture>
              <source srcset="./assets/img/map_sp.svg" media="(max-width:749px)" width="600" height="763" />
              <img src="./assets/img/map.svg" width="454" height="578" alt="" />
            </picture>
          </div>
            <p class="addactive show">
              EATo LUMINE（イイトルミネ）のコンセプトは<br/>
              「EAToでイイトキ、イイトキメキ。」。<br/>
              人気の飲食店をエキナカに取り揃え、<br/>
              気軽に立ち寄ってトレンド感のあるグルメを<br class="sp"/>手に入れることができる<br/>
              “タイパ”の高い食体験の提供を目指します。<br/>
              忙しくても美味しいものを食べたい人や、<br/>
              話題のお店や流行りのグルメに<br class="sp"/>関心のある人に向けた、<br/>
              エキナカならではの新グルメスポットです。<br/>
              施設内には、ベーカリー、総菜・スーパー、<br class="sp"/>スイーツ、イートインショップなど、<br/>
              多彩なジャンルの28のショップをオープン。<br/>
              各ジャンルの新業態ショップや、<br class="sp"/>ルミネ初出店となるショップも誕生予定です。<br/>
              新宿駅を利用する方へ、<br class="sp"/>様々な形でルミネならではの<br/>
              新しい「食との出会い」をお届けします。
            </p>
          </div>
          <div class="img addactive show pc">
            <picture>
              <source srcset="./assets/img/map_sp.svg" media="(max-width:749px)" width="600" height="763" />
              <img src="./assets/img/map.svg" width="454" height="578" alt="" />
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section id="more" class="section">
      <div class="slider">
        <div class="swiper-container marquee-slider addactive show">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/img/img1.webp" media="(max-width:749px)" type="image/webp" />
                <source srcset="./assets/img/img1.png" media="(max-width:749px)" />
                <source srcset="./assets/img/img1.webp" type="image/webp" />
                <img src="./assets/img/img1.png" alt="" width="760" height="480" />
              </picture>
            </div> 
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/img/img2.webp" media="(max-width:749px)" type="image/webp" />
                <source srcset="./assets/img/img2.png" media="(max-width:749px)" />
                <source srcset="./assets/img/img2.webp" type="image/webp" />
                <img src="./assets/img/img2.png" alt="" width="760" height="480" />
              </picture>
            </div> 
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/img/img3.webp" media="(max-width:749px)" type="image/webp" />
                <source srcset="./assets/img/img3.png" media="(max-width:749px)" />
                <source srcset="./assets/img/img3.webp" type="image/webp" />
                <img src="./assets/img/img3.png" alt="" width="760" height="480" />
              </picture>
            </div> 
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/img/img4.webp" media="(max-width:749px)" type="image/webp" />
                <source srcset="./assets/img/img4.png" media="(max-width:749px)" />
                <source srcset="./assets/img/img4.webp" type="image/webp" />
                <img src="./assets/img/img4.png" alt="" width="760" height="480" />
              </picture>
            </div> 
          </div>
        </div>
      </div>
      <div class="more addactive show">
        <p class="en futura bold">
          <img src="./assets/img/more.svg" width="575" height="28" alt="MORE DETAILS COMING SOON" />
        </p><br/>
        <p class="ja bold">詳細情報は3月中旬以降公開予定です。お楽しみに！</p>
      </div>
    </section>
  </main>
  <%- include('parts/_footer') %>
  </div>
  <script type="text/javascript">
    (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=APNU6vI";
      s.parentNode.insertBefore(tagjs, s);
    }());
  </script>
  <noscript>
    <iframe src="//b.yjtag.jp/iframe?c=APNU6vI" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
</body>
<script src="//cdn.jsdelivr.net/npm/swiper@8.2.4/swiper-bundle.min.js" defer></script>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/main.js"></script>
</html>