<%
var faq = [
  ['JRE POINTとは何ですか？',''],
  ['ルミネ・ニュウマンでポイントを利用したいです。',''],
  ['ルミネカードでポイントは貯まりますか？',''],
  ['ルミネカード以外でポイントは貯まりますか？','']
];
var tameru = [
  ['ルミネカードでポイントは貯まりますか？','ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用はもちろん、普段のお買いものやご飲食、公共料金のお支払いにルミネカードをご利用いただくと、ご利用金額1,000円（税込）ごとに5ポイント貯まります。<br/>※ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用の場合、ポイントはご利用明細書のご請求額に対し付与されます。<br/>※ポイントはご請求金額確定時に付与されます。<br/><br/>また、モバイルSuicaでの定期券購入、オートチャージ・チャージのご利用（ルミネカードでのお支払い）でさらにポイントが貯まります。<br/>詳細は<a href="//www.jreast.co.jp/card/point/save/viewplus.html" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
  ['お買いもの以外でも、ルミネカードでポイントをもっと貯めたいです。','モバイルSuicaでの定期券購入、オートチャージ・チャージのご利用のお支払いに、ルミネカードのご利用をおすすめいたします。<br/>ポイント還元率については<a href="//www.jreast.co.jp/card/point/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/><br/>※オートチャージとは、Suicaの残額が設定金額以下になると、改札入出場時に自動的に設定金額にチャージできるサービスです。<br/>詳しくは<a href="//www.jreast.co.jp/card/function/autocharge/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/>※モバイルSuicaとは、Suicaをスマートフォンでご利用いただけるサービスです。<br/>詳しくは<a href="//www.jreast.co.jp/mobilesuica/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
  ['ルミネカード以外でポイントは貯まりますか？','ルミネ・ニュウマンは<span class="icon"><img src="./assets/img/yellow.png" alt=""/></span>黄マークの加盟店です。<br/><br/>・JRE POINT WEBサイトにご登録済みのSuicaでのお支払いで、200円（税込）ごとに1ポイント貯まります。<br/>詳しくは<a href="//www.jrepoint.jp/point/append/suica/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/><br/><span class="red">ルミネ・ニュウマン各館は、順次、<span class="icon"><img src="./assets/img/green.png" alt=""/></span>緑マークの加盟店となります。<br/>導入前については、以下の一部の内容は適用されません。<br/>※各館の導入スケジュールは<span class="underline bold scroll-trigger red" data-target="information">こちら</span></span><br/><br/>・ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコード提示でJRE POINTが貯まります。<br/>※対象決済手段：現金、商品券、他社クレジット、QR決済、電子マネー<br/>※対象外決済手段：ルミネカードを含むビューカード<div class="overflow"><img src="./assets/img/chart_pc.png" alt="" /></div>※JRE POINTカードはご利用いただけません。<br/>※ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコードの提示で100円（税抜）ごとに1ポイントが貯まります。<br/>※JRE CARDでクレジット払いをいただくと、その場で100円（税抜）につき3ポイントが、ご請求確定時に1,000円（税込）につき5ポイントが貯まります。<br/>※JRE CARD以外のビューカード（ルミネカードを除く）でクレジット払いをいただくと、その場で100円（税抜）につき1ポイントが、ご請求確定時に1,000円（税込）につき5ポイントが貯まります。<br/>※一部対象外ショップがございます。詳しくはショップへお問い合わせください。<br/><br/><span class="bold">＜ルミネカードについて＞<br/>ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用がいつでも5％オフ。<br/>また、ご利用金額1,000円（税込）ごとにJRE POINTが5ポイント貯まります。<br/>※ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用の場合、JRE POINTはご利用明細書のご請求額に対し付与されます。<br/>ルミネ・ニュウマン館内でのクレジットカードでのお支払いには、特にルミネカードのご利用をおすすめします。</span>'],
  ['ルミネカードの提示でポイントは貯まりますか？','ルミネカードの提示ではポイントは貯まりません。<br/>ルミネカードでお支払いいただくと、ご請求確定時に1,000円（税込）ごとに5ポイントが貯まります。<br/>※ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用の場合、JRE POINTはご利用明細書のご請求額に対し付与されます。<br/><br/>なお、ルミネカードでのお支払い時には、ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコードの提示でのポイントは貯まりません。'],
  ['ルミネ・ニュウマンで、JRE POINT カード（クレジット機能なしのポイントカード）は利用できますか？','<div class="card"><img src="./assets/img/jre-point.png" alt="JRE POINT"></div>JRE POINT カード（クレジット機能なしのポイントカード）は、ポイントを貯めることも使うこともできません。'],
  ['お買いもの時のポイント利用分に対しても、ポイントは貯まりますか？','<div class="card"><img src="./assets/img/card-three.png" alt=""></div><span class="red">ルミネ・ニュウマン各館は、順次、<span class="icon"><img src="./assets/img/green.png" alt=""/></span>緑マークの加盟店となります。<br/>導入前については、以下内容は適用されません。<br/>※各館の導入スケジュールは<span class="scroll-trigger bold underline red" data-target="information">こちら</span></span><br/><br/>ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコード提示で、ポイント利用対象金額100円（税抜）ごとに1ポイント（※）貯まります。<br/>※軽減税率適用の有無にかかわらず、お買い上げ金額​から8％分を差し引いて税抜金額相当といたします​<br/><br/>なお、ルミネカードは、ポイント利用分に対するポイント付与対象外です。']
];
var tsukau = [
  ['ルミネ・ニュウマンでポイントを利用したいです。','<div class="card"><img src="./assets/img/card-four.png" alt=""></div>ルミネカードを含むビューカード、JRE POINTアプリ、LINEマイカードのバーコード提示で、JRE POINTを1ポイント1円としてご利用いただけます。<br/>※JRE POINTカードはご利用いただけません。<br/>※ルミネカードは、利用ポイント相当金額に対するポイントやポイントカードとして提示した場合のポイントは付与されません。<br/>※ルミネのネット通販「アイルミネ」、ルミネカードWEB決済サービス、店頭での無線端末ではポイントは利用できません。<br/>※一部対象外ショップがございます。詳しくはショップへお問い合わせください。'],
  ['貯まったポイントをルミネ商品券に交換したいです。','JRE POINT WEBサイトでルミネ商品券への交換申込みができます。<br/>ルミネ商品券への交換は<a href="//www.jrepoint.jp/item/group/99100950/" target="_blank" rel="noopener" class="underline bold">こちら</a>からお進みください。<br/><br/>※貯めたポイントをJRE POINT WEBサイトで商品に交換するには、事前にルミネカードや、その他ビューカードをJRE POINT WEBサイトへ登録いただく必要があります。<br/>JRE POINT WEBサイトは<a href="//www.jrepoint.jp/" target="_blank" rel="noopener" class="underline bold">こちら</a><br/><br/>なお、ビューカード会員の方は、お電話や郵送によるお申込みも可能です。詳しくは<a href="//www.jreast.co.jp/card/point/item/application.html" target="_blank" rel="noopener" class="underline bold">こちら</a>'],
  ['貯まったポイントをSuicaへチャージして使いたいです。','Suicaへのチャージ方法は<a href="//www.jrepoint.jp/point/spend/suica-charge/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/>なお、JRE POINT WEBサイトにご登録済みのSuicaで、ルミネ・ニュウマンでお支払いいただくと、200円（税込）ごとに1ポイント貯まりますのでご利用をおすすめします。<br/>詳しくは<a href="//www.jrepoint.jp/point/append/suica/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
];
var sonota = [
  ['JRE POINTとは何ですか？','JRE POINTは、JR東日本グループのポイントサービスです。<br/>ルミネカードでのお買いものやSuicaチャージなどでポイントを貯めることができ、貯まったポイントは、店頭での利用（1ポイント=1円）やルミネ商品券など様々な商品と交換することができます。<br/>詳しくは<a href="//www.jrepoint.jp/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
  ['ポイントとルミネマイルの違いは何ですか？','<span class="bold">＜ポイントについて：JRE POINT＞</span><br/>JRE POINTは、JR東日本グループのポイントサービスです。ルミネカードでのお買いものやSuicaチャージなどでポイントを貯めることができ、貯まったポイントは、店頭での利用(1ポイント＝1円）やルミネ商品券など様々な商品と交換することができます。<br/>詳しくは<a href="//www.jrepoint.jp/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/><br/><span class="bold">＜ルミネマイルについて：ルミネのアプリ「ONE LUMINE」＞</span><br/>ルミネのアプリ「ONE LUMINE」にクレジットカードを連携することで、ルミネ・ニュウマンでのお買いものでマイルが貯まります。貯まったルミネマイルに応じてランクが上がり、ランクアップ時にルミネチケットがプレゼントされます。<br/>詳しくは<a href="//www.lumine.ne.jp/onelumine/" target="_blank" rel="noopener" class="underline bold noicon">こちら</a>をご覧ください。']
];
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: 'https://www.lumine.ne.jp/eato-lumine', ogimage: 'https://www.lumine.ne.jp/eato-lumine/assets/img/ogp.jpg'}) %>
</head>

<body class="">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTQ2S2R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFRJDJN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
  <%- include('parts/_header') %>
  <main>
    <section id="top" class="section">
      <h1 class="logo">
        <img src="./assets/img/logo.gif" alt="EATo LUMINE">
      </h1>
      <p class="date futura">
        2024.4.17wed  OPEN!
      </p>
    </section>
    <section id="concept" class="section">
      <div class="section__inner">
        <div class="concept-box">
          <h2>
            <picture>
              <source srcset="./assets/img/concept-text_sp.svg" media="(max-width:749px)" width="421" height="117" />
              <img src="./assets/img/concept-text.svg" width="648" height="32" alt="EAToでイイトキ、イイトキメキ。" />
            </picture>
          </h2> 
          <p>
            話題のお店や流行りの場所に行くと刺激がもらえて心がときめく。<br/>
            でも、時間がある休みの日じゃないとなかなか行けない。<br/><br/>
            EATo LUMINEはそんな私が毎日、食で刺激をチャージできる場所。<br/>
            エキナカにあるから時間がない時でも立ち寄れる。<br/>
            気軽に入って、クリエイティブで充実した“トキ”をすごせる。<br/>
            話題のお店や初めての出会いがたくさんあって、毎日“トキメキ”が手に入る。<br/><br/>
            いつも、いつでも、<br/>
            EATo LUMINEでイイトキ、イイトキメキを。
          </p>
        </div>
        <div class="wrapper flex space-between">
          <div class="content">
            <h3 class="futura bold">
              CONCEPT & MAP
            </h3>
            <p>
              EATo LUMINE（イイトルミネ）のコンセプトは<br/>
              「EAToでイイトキ、イイトキメキ。」。<br/>
              人気の飲食店をエキナカに取り揃え、<br/>
              気軽に立ち寄ってトレンド感のあるグルメを手に入れることができる<br/>
              “タイパ”の高い食体験の提供を目指します。<br/>
              忙しくても美味しいものを食べたい人や、<br/>
              話題のお店や流行りのグルメに関心のある人に向けた、<br/>
              エキナカならではの新グルメスポットです。<br/>
              施設内には、ベーカリー、総菜・スーパー、スイーツ、イートインショップなど、<br/>
              多彩なジャンルの28のショップをオープン。<br/>
              各ジャンルの新業態ショップや、ルミネ初出店となるショップも誕生予定です。<br/>
              新宿駅を利用する方へ、様々な形でルミネならではの<br/>
              新しい「食との出会い」をお届けします。
            </p>
          </div>
          <div class="img">
            <picture>
              <source srcset="./assets/img/map_sp.svg" media="(max-width:749px)" width="600" height="763" />
              <img src="./assets/img/map.svg" width="454" height="578" alt="" />
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section id="more" class="section">
      <div class="slider"></div>
      <div class="more">
        <p class="en futura bold">More Details Coming Soon</p><br/>
        <p class="ja">詳細情報は3月以降に公開予定です。お楽しみに！</p>
      </div>
    </section>
  </main>
  <%- include('parts/_footer') %>
  </div>
  <script type="text/javascript">
    (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=APNU6vI";
      s.parentNode.insertBefore(tagjs, s);
    }());
  </script>
  <noscript>
    <iframe src="//b.yjtag.jp/iframe?c=APNU6vI" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
</body>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/main.js"></script>
</html>