// @import "./awesome";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
}
body {
  font-feature-settings: "palt";
  font-family: $YuGothic;
  color: $navy;
  opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
  ::selection {
    color: $white;
    background-color: $navy;
  }
  &.loaded,
  &.visited {
    opacity: 1;
  }
  .hidden {
    visibility: hidden;
  }
}
.jump {
  &.active {
    .word {
      .char {
        transform: translate3d(0, 0, 0);
        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            will-change: transform;
            transition: transform 1.5s $slide
              #{($i - 1) * 0.05}s;
          }
        }
      }
    }
  }
  .word {
    display: inline-block;
    line-height: 1;
    overflow: hidden;
  }
  .char {
    position: relative;
    display: inline-block;
    transform: translate3d(0, 102%, 0);
  }
} 
.bold {
  font-weight: bold;
}
.light {
  font-weight: 100 !important;
}
.shippori {
  font-family: $Shippori;
  font-weight: 800;
}
.yugothic {
  font-family: $YuGothic;
}
.underline {
  color: $black;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.whitespace {
  white-space: nowrap;
}
.red {
  color: red !important;
}
ul {
  &.kome {
    li {
    display: flex;
      &::before {
        content: '※';
      }
    }
  }
  &.dot {
    li {
    display: flex;
      &::before {
        content: '・';
      }
    }
  }
}

@media screen and (max-width: 749px) {
  .marquee-slider {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  .show {
    opacity: 0;
    transform: translate3d(0, vw(20), 0);
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  .hover, a.underline {
    transition: opacity 0.5s $zoom;
    &:active {
      opacity: 0.5;
      will-change: opacity;
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    @include fitcenter();
    right: vw(50);
    bottom: vw(150);
    border-radius: 100%;
    pointer-events: none;
    opacity: 0;
    will-change: background-color, opacity;
    transition: opacity 0.5s $zoom, background-color 0.5s $zoom;
    z-index: 10;
    svg {
      display: block;
      margin: 0 auto;
      width: vw(63.6396);
      .cls-1 {
        stroke: $white;
        will-change: stroke;
        transition: stroke 0.5s $zoom;
      }
      .cls-2 {
        stroke: $white;
        will-change: stroke, fill;
        transition: stroke 0.5s $zoom,fill 0.5s $zoom;
      }
    }
    p {
      margin-top: vw(20);
      @include fontvw(30);
    }
    &:active {
      svg  {
        .cls-1 {
          stroke: $navy;
        }
        .cls-2 {
          fill: $navy;
          stroke: $navy;
        }
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #overlay {
    position: fixed;
    // @include fitcenter();
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $white;
    z-index: 101;
    opacity: 0;
    overflow: scroll;
    visibility: hidden;
    will-change: opacity;
    transition: opacity $zoom .5s, visibility 0s .5s;
    &.active {
      opacity: 1;
      visibility: visible;
      transition: opacity $zoom .5s, visibility 0s;
    }
    &.scene1 {
      border: vw(30) solid $green;
      .close {
        div {
          background-color: $green;
        }
      }
      .limited-title {
        background-color: $green;
      }
      .swiper-pagination {
        &-bullet {
          border: rem(1) solid $green;
          &-active {
            background-color: $green !important;
          }
        }
      }
    }
    &.scene2 {
      border: vw(30) solid $orange;
      .close {
        div {
          background-color: $orange;
        }
      }
      .limited-title {
        background-color: $orange;
      }
    }
    &.scene3 {
      border: vw(30) solid $navy;
      .close {
        div {
          background-color: $navy;
        }
      }
      .limited-title {
        background-color: $navy;
      }
    }
    &.no-limited {
      .limited {
        display: none;
      }
    }
    &.no-product {
      .limited {
        display: none;
      }
    }
    .close {
      position: fixed;
      top: vw(60);
      right: vw(60);
      height: vw(75);
      width: vw(75);
      z-index: 2;
      div {
        @include center();
        width: vw(3);
        height: 120%;
        &:nth-child(1) {
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
      }
    }
    .inner {
      padding: vw(165) 0;
      width: vw(600);
      margin: 0 auto;
      .box {
        &:nth-child(1) {
          margin-bottom: vw(25);
          .swiper-container {
            position: relative;
            border-radius: vw(30);
            overflow: hidden;
            width: 100%;
          }
          .swiper-pagination {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            margin: vw(30) auto 0;
            &-bullet {
              margin-right: vw(30);
              margin-left: 0;
              height: vw(30);
              width: vw(30);
              opacity: 1;
              background-color: $white;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        &:nth-child(2) {
          color: $black;
          .logo {
            position: relative;
            height: vw(120);
            width: vw(210);
            margin: 0 auto vw(15);
            img {
              @include center();
              height: 200%;
              width: auto;
              max-width: initial;
            }
          }
          .time {
            @include fontvw(22);
            line-height: 1.2;
            margin: 0 auto vw(15);
            text-align: center;
          }
          .wrapper {
            &-content {
              position: relative;
              padding-top: vw(30);
              padding-bottom: vw(30);
              &:last-child {
                padding-bottom: 0;
              }
            }
            .wrapper-content {
              &.limited {
                border-top: rem(1) solid $black;
                .limited-title {
                  position: absolute;
                  top: vw(-34);
                  right: 0;
                  height: vw(34);
                  line-height: vw(34);
                  @include fontvw(22);
                  width: vw(180);
                  text-align: center;
                  color: $white;
                }
              }
            }
            header {
              margin-bottom: vw(25);
              .name {
                @include tracking(40);
                line-height: 1.4;
                span {
                  display: block;
                }
                .bold {
                  @include fontvw(30);
                }
                .cat {
                  @include fontvw(22);
                }
              }
              .tel {
                @include fontvw(22);
              }
            }
            .text {
              @include fontvw(24);
              line-height: (42 / 24);
            }
          }
        }
      }
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    height: vw(100);
    width: 100%;
    background-color: $navy;
    z-index: 100;
    h1 {
      position: absolute;
      @include fitcenter();
      top: 0;
      left: 0;
      height: vw(100);
      width: vw(170);
      background-color: $navy;
      img {
        width: vw(136);
      }
    }
    .menu-trigger {
      position: absolute;
      @include fitcenter();
      top: 0;
      right: 0;
      height: vw(100);
      width: vw(100);
      background-color: $navy;
      z-index: 101;
      &.active {
        div p {
          &:nth-child(1) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(30deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(-30deg);
          }
        }
      }
      div {
        position: relative;
        height: vw(22);
        width: vw(40);
        p {
          position: absolute;
          height: vw(2);
          width: 100%;
          left: 50%;
          background-color: $white;
          transform: translate3d(-50%, 0, 0);
          transition: all $zoom .2s;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
          &:nth-child(3) {
            top: calc( 100% - vw(2) );
          }
        }
      }
    }
    #menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $navy;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      will-change: opacity;
      transition: opacity $zoom .5s, visibility 0s .5s;
      &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity $zoom .5s, visibility 0s;
        .logo, .sns {
          opacity: 1;
          transform: translate3d(-50%, 0, 0) !important;
        }
        ul {
          .jump {
            .word {
              .char {
                transform: translate3d(0, 0, 0);
              }
            }
          }
          li {
            &::after {
              width: 100%;
            }
          }
        }
      }
      .logo, .sns {
        opacity: 0;
        transform: translate3d(-50%, vw(20), 0) !important;
        transition: transform $slow 3s .5s, opacity $slow 3s .5s;
      }
      .logo {
        position: absolute;
        top: vw(100);
        left: 50%;
        width: vw(381.8057);
        transform: translate3d(-50%, 0, 0);
        img {
          height: auto;
          width: 100%;
        }
      }
      ul {
        // @include fitcenter();
        @include center();
        width: 100%;
        text-align: center;
        li {
          position: relative;
          display: inline-block;
          margin-bottom: vw(95);
          @include fontvw(45);
          color: $white;
          .word {
            .char {
              @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                  will-change: transform;
                  transition: transform 1.5s $slide
                    #{($i - 1) * 0.05}s;
                }
              }
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          &::after {
            position: absolute;
            left: 50%;
            bottom: vw(-10);
            transform: translate3d(-50%, 0, 0);
            content: '';
            height: vw(4);
            width: 0%;
            background-color: $white;
            will-change: width;
            transition: width $zoom 1s;
          }
        }
      }
      .sns {
        position: absolute;
        left: 50%;
        width: 100%;
        bottom: vw(100);
        transform: translate3d(-50%, 0, 0);
        .title {
          margin-bottom: vw(45);
          @include fontvw(45);
          color: $white;
          text-align: center;
        }
        a {
          margin: 0 auto;
          width: vw(75);
          display: block;
        }
      }
    }
  }
  #footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 vw(30);
    height: vw(100);
    box-sizing: border-box;
    background-color: $navy;
    .logo {
      width: vw(149.5959);
    }
    p {
      position: relative;
      @include fontvw(20); 
      text-align: center;
      color: $white;
      .copy {
        @include fontvw(24); 
        display: inline-block;
        position: relative;
        top: 0.3vw;
        transform: scale(1.3);
      }
    }
  }
  main {
    margin-top: vw(100);
    overflow: hidden;
    .section__inner {
      margin: 0 auto;
      width: vw(650);
    }
    .section-title {
      font-family: $Shippori;
      &.active {
        .under {
          &::after {
            width: 100%;
          }
        }
      }
      .under {
        position: relative;
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          content: '';
          height: vw(4);
          width: 0%;
          background-color: $navy;
          transform: translate3d(-50%, 0, 0);
          will-change: width;
          transition: width $zoom 1s;
        }
      }
    }
    .note {
      @include fontvw(20);
      line-height: (34.82 / 20);
      &.black {
        color: $black;
      }
    }
    section {
      position: relative;
      &#top {
        &::before {
          content: '';
          padding-top: 46.875%;
          display: block;
        }
        .wrapper {
          @include center();
          height: 100%;
          width: 100%;
          .keyv {
            @include center();
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: transform $zoom 1s, opacity $zoom 1s;
            &.active {
              opacity: 1;
              z-index: 1;
            }
            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      &#about {
        padding: vw(75) 0;
        background-color: $lightGray;
        .section-title {
          margin-bottom: vw(75);
          @include fontvw(45);
          text-align: center;
          .text {
            padding-bottom: vw(25);
            display: inline-block;
          }
        }
        .sns {
          margin-top: vw(100);
          .title {
            margin-bottom: vw(40);
            @include fontvw(45);
            text-align: center;
          }
          a {
            display: block;
            margin: 0 auto;
            width: vw(75);
          }
        }
        .section {
          &-title-ja {
            margin-bottom: vw(40);
            @include fontvw(56);
            line-height: (82 / 56);
            color: $navy;
          }
          &-text {
            margin-bottom: vw(40);
            @include fontvw(26);
            // letter-spacing: -.1vw;
            line-height: (54 / 30);
            white-space: nowrap;
            color: $navy;
          }
        }
        .video {
          position: relative;
          margin: 0 auto vw(40);
          height: vw(495);
          width: 100%;
          background-color: gray;
          &::before {
            @include center();
            content: 'movie';
            @include fontvw(30);
            color: $white;
            z-index: 1;
          }
        }
        .swiper-container {
          position: relative;
          left: 50%;
          width: 110vw;
          transform: translate3d(-50%, 0, 0);
        }
      }
      &#shop-list {
        padding: vw(75) 0;
        .section {
          &-title {
            margin-bottom: vw(50);
            @include fontvw(45);
            text-align: center;
            .text {
              padding-bottom: vw(25);
              margin-bottom: vw(15);
              display: inline-block;
            }
            .img-wrapper {
              @include fitcenter();
            }
            .img {
              img {
                height: vw(100);
                width: auto;
              }
            }
          }
        }
        .wrapper {
          position: relative;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          width: vw(700);
          flex-wrap: wrap;
          .shop {
            margin-right: vw(40);
            margin-bottom: vw(40);
            width: vw(330);
            opacity: 0;
            transform: translate3d(0, vw(20), 0);
            will-change: transform, opacity;
            &.sweets {
              .shop-img {
              border: vw(2) solid #d77f75;
              }
              .shop-tag {
                background-color: #d77f75;
              }
            }
            &.food {
              .shop-img {
              border: vw(2) solid #e2b75c;
              }
              .shop-tag {
                background-color: #e2b75c;
              }
            }
            &.grocery {
              .shop-img {
              border: vw(2) solid #71b1a3;
              }
              .shop-tag {
                background-color: #71b1a3;
              }
            }
            &.restaurant・cafe {
              .shop-img {
              border: vw(2) solid #9fa0be;
              }
              .shop-tag {
                background-color: #9fa0be;
              }
            }
            &.others {
              .shop-img {
              border: vw(2) solid #a7b2be;
              }
              .shop-tag {
                background-color: #a7b2be;
              }
            }
            &.active {
              opacity: 1;
              transform: translate3d(0, 0, 0);
            }
            &.order1, &.order2 {
              transition: transform $slow 3s, opacity $slow 3s;
            }
            &.order3, &.order0 {
              transition: transform $slow 3s .1s, opacity $slow 3s .1s;
            }
            &:nth-child(2n) {
              margin-right: 0;
            }
            &-img {
              position: relative;
              margin-bottom: vw(20); 
              border-radius: vw(17.6471); 
              overflow: hidden;
              .shop-tag {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 vw(10);
                height: vw(30);
                line-height: vw(30);
                min-width: vw(100);
                @include fontvw(20);
                color: $white;
                text-align: center;
                z-index: 1;
              }
              img {
                // border-radius: vw(17.6471); 
              }
            }
            &-name {
              color: $black;
              line-height: 1.4;
              span {
                display: block;
              }
              .en {
                // margin-bottom: vw(10); 
                @include fontvw(24.02);
              }
              .ja {
                @include fontvw(18.87);
              }
            }
          }
        }
      }
      &#store-map {
        padding: vw(75) 0;
        background-color: $lightGray;
        .section {
          &-title {
            margin-bottom: vw(75);
            @include fontvw(45);
            text-align: center;
            .text {
              padding-bottom: vw(25);
              display: inline-block;
            }
          }
        }
        .title {
          margin-bottom: vw(80);
          height: vw(65);
          line-height: vw(65);
          @include fontvw(30);
          color: $navy;
          background-color: $orange;
          text-align: center;
        }
        .map-wrapper {
          margin-bottom: vw(35);
          .box {
            margin-bottom: vw(50);
            &:last-child {
              margin-bottom: 0;
            }
            &.active {
              .box-title {
                &::after {
                flex-grow: 1;
                }
              }
            }
            &-title {
              margin-bottom: vw(25); 
              @include fontvw(30);
              &::after {
                display: block;
                margin-left: vw(10);
                content: "";
                flex-grow: 0;
                // width: 0%;
                border-bottom: rem(1) solid $navy;
                will-change: flex-grow;
                transition: flex-grow $zoom 1s;
              }
            }
            // &:nth-child(1) {
            //   width: 35.23809523809524%;
            // }
            // &:nth-child(2) {
            //   width: 63.14285714285715%;
            // }
          }
        }
      }
      &#store-information {
        padding: vw(75) 0 vw(100);
        .section {
          &-title {
            margin-bottom: vw(50);
            @include fontvw(45);
            text-align: center;
            .text {
              // margin: 0 rem(35);
              padding-bottom: vw(25);
              display: inline-block;
            }
          }
        }
        .title-wrapper {
          margin-bottom: vw(30);
          .title {
            margin-bottom: vw(10);
            padding: vw(30) 0;
            @include fitcenter();
            @include fontvw(30);
            color: $white;
            background-color: $navy;
            .shippori {
              p {
                &:nth-child(2) {
                  margin: vw(15) 0 vw(10);
                }
              }
            }
            p {
              @include fitcenter();
              text-align: center;
              span {
                // display: block;
              }
            }
            .small {
              @include fontvw(22);
              &.yugothic {
                margin-top: vw(9);
                @include fontvw(22);
                line-height: 1.2;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .card-wrapper {
          margin: vw(50) auto;
          .box {
            margin-bottom: vw(50);
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .faq {
          &-title {
            position: relative;
            @include fitcenter();
            @include fontvw(45);
            height: vw(97.5);
            border: rem(1) solid $navy;
            // cursor: pointer;
            &.open {
              img {
                transform: translate3d(0, -50%, 0) rotateX(0deg);
              }
            }
            img {
              position: absolute;
              top: 50%;
              right: vw(40);
              width: vw(63.6396);
              transform: translate3d(0, -50%, 0) rotateX(180deg);
              transition: transform 0.5s $zoom;
            }
          }
          &-wrapper {
            height: 0;
            overflow: hidden;
            will-change: height;
            transition: height .5s $ziwaziwa;
            &.open {
              transition: height 1s $ziwaziwa;
            }
            &__inner {
              padding-top: vw(75); 
              .box {
                margin-bottom: vw(50);
                &-title {
                  @include fontvw(44);
                  line-height: (60 / 44);
                  text-align: center;
                }
                &-text {
                  margin-top: vw(50);
                  @include fontvw(38);
                  line-height: (60 / 38);
                  .bold {
                    margin-bottom: vw(30);
                    display: block;
                  }
                  .small {
                    @include fontvw(28);
                    line-height: (42 / 28);
                  }
                }
                .note {
                  margin-top: vw(50);
                }
                .line-wrapper {
                  margin-top: vw(45);
                  border-top: rem(1) solid $navy;
                  // border-bottom: rem(1) solid $navy;
                  .line {
                    border-bottom: rem(1) solid $navy;
                    &:last-child {
                      border-bottom: 0;
                    }
                    div {
                      box-sizing: border-box;
                      &:nth-child(1) {
                        border-bottom: rem(1) solid $navy;
                        p {
                          padding: vw(25) 0;
                          text-align: center;
                        }
                      }
                      &:nth-child(2) {
                        padding: vw(20) 0;
                      }
                      p, ul {
                        @include fontvw(28);
                        @include tracking(50);
                        line-height: (42 / 28);
                      }
                    }
                  }
                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .marquee-slider {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  .show {
    opacity: 0;
    transform: translate3d(0, rem(20), 0);
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  .hover, a.underline {
    transition: opacity 0.5s $zoom;
    &:hover {
      opacity: 0.5;
      will-change: opacity;
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    @include fitcenter();
    right: rem(50);
    bottom: rem(130);
    border-radius: 100%;
    // background-color: $navy;
    pointer-events: none;
    opacity: 0;
    // border: rem(2) solid $navy;
    will-change: background-color, opacity;
    transition: opacity 0.5s $zoom, background-color 0.5s $zoom;
    z-index: 10;
    svg {
      display: block;
      margin: 0 auto;
      width: rem(42.4264);
      .cls-1 {
        stroke: $white;
        will-change: stroke;
        transition: stroke 0.5s $zoom;
      }
      .cls-2 {
        stroke: $white;
        will-change: stroke, fill;
        transition: stroke 0.5s $zoom,fill 0.5s $zoom;
      }
    }
    p {
      margin-top: rem(10);
      @include fontsize(20);
    }
    &:hover {
      // background-color: $white;
      svg  {
      .cls-1 {
        stroke: $navy;
      }
      .cls-2 {
        fill: $navy;
        stroke: $navy;
      }
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #overlay {
    position: fixed;
    @include fitcenter();
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $white;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: opacity $zoom .5s, visibility 0s .5s;
    &.active {
      opacity: 1;
      visibility: visible;
      transition: opacity $zoom .5s, visibility 0s;
    }
    &.scene1 {
      border: rem(30) solid $green;
      .close {
        div {
          background-color: $green;
        }
      }
      .limited-title {
        background-color: $green;
      }
      .swiper-pagination {
        &-bullet {
          border: rem(1) solid $green;
          &-active {
            background-color: $green !important;
          }
        }
      }
    }
    &.scene2 {
      border: rem(30) solid $orange;
      .close {
        div {
          background-color: $orange;
        }
      }
      .limited-title {
        background-color: $orange;
      }
    }
    &.scene3 {
      border: rem(30) solid $navy;
      .close {
        div {
          background-color: $navy;
        }
      }
      .limited-title {
        background-color: $navy;
      }
    }
    &.no-limited {
      .limited-title {
        display: none;
      }
    }
    &.no-product {
      .limited {
        display: none;
      }
    }
    .close {
      position: absolute;
      top: rem(50);
      right: rem(50);
      height: rem(50);
      width: rem(50);
      cursor: pointer;
      z-index: 1;
      &:hover {
        div {
          height: 100%;
        }
      }
      div {
        @include center();
        width: rem(2.77);
        height: 120%;
        will-change: height;
        transition: all $zoom .3s;
        &:nth-child(1) {
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
      }
    }
    .inner {
      align-items: stretch;
      width: 78.125%;
      max-width: rem(1100); 
      .box {
        position: relative;
        &:nth-child(1) {
          width: 50.9090909090909%;
          .swiper-container {
            position: relative;
            border-radius: rem(30);
            overflow: hidden;
            width: 100%;
          }
          .swiper-pagination {
            top: auto;
            left: 50%;
            right: auto;
            bottom: rem(-30);
            margin: 0;
            transform: translate3d(-50%, 0, 0);
            &-bullet {
              margin-right: rem(20);
              margin-left: 0;
              height: rem(14);
              width: rem(14);
              opacity: 1;
              background-color: $white;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        &:nth-child(2) {
          display: flex;
          align-items: end;
          width: 44.545454545454544%;
          color: $black;
          .time {
            position: absolute;
            top: 0;
            left: 0;
            p {
              @include fontsize(12);
              line-height: 1.4;
            }
          }
          .logo {
            position: absolute;
            top: 0;
            right: 0;
            height: rem(80);
            width: rem(140);
            overflow: visible;
            img {
              height: 200%;
              width: auto;
              max-width: initial;
            }
          }
          .wrapper {
            &-content {
              position: relative;
              padding-top: rem(25);
              padding-bottom: rem(30);
              &:last-child {
                padding-bottom: 0;
              }
            }
            .wrapper-content {
              &.limited {
                border-top: rem(1) solid $black;
                .limited-title {
                  position: absolute;
                  top: rem(-17);
                  right: 0;
                  height: rem(17);
                  line-height: rem(17);
                  @include fontsize(13);
                  width: rem(100);
                  text-align: center;
                  color: $white;
                }
              }
            }
            header {
              margin-bottom: rem(20);
              .name {
                @include tracking(40);
                line-height: 1.4;
                span {
                  display: block;
                }
                .bold {
                  @include fontsize(18);
                }
                .cat {
                  @include fontsize(12);
                }
              }
              .tel {
                @include fontsize(12);
              }
            }
            .text {
              @include fontsize(14);
              line-height: (24.5 / 14);
            }
          }
        }
      }
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    height: rem(70);
    width: 100%;
    background-color: $navy;
    z-index: 100;
    h1 {
      position: absolute;
      @include fitcenter();
      top: 0;
      left: 0;
      height: rem(70);
      width: rem(120);
      background-color: $white;
      z-index: 1;
      &:hover {
        &::before {
          // background-color: rgba(40, 21, 117, .5);
        }
      }
      &::before {
        @include center();
        content: '';
        height: 100%;
        width: 100%;
        background-color: $navy;
        will-change: background-color;
        transition: background-color 0.5s $zoom;
      }
      img {
        position: relative;
        width: rem(95.4514);
        z-index: 1;
      }
    }
    .menu-trigger {
      position: absolute;
      @include fitcenter();
      top: 0;
      right: 0;
      height: rem(70);
      width: rem(70);
      cursor: pointer;
      background-color: $white;
      z-index: 101;
      &:hover {
        // &::before {
        //   opacity: .7;
        // }
        div p {
          &:nth-child(1) {
            top: 20%;
            transform: translate3d(-50%, -50%, 0);
          }
          &:nth-child(2) {
            // opacity: 0;
          }
          &:nth-child(3) {
            top: 80%;
            transform: translate3d(-50%, -50%, 0);
          }
        }
      }
      &::before {
        @include center();
        content: '';
        height: 100%;
        width: 100%;
        background-color: $navy;
        transition: opacity 0.5s $zoom;
      }
      &.active {
        // &::before {
        //   opacity: 1;
        // }
        div p {
          &:nth-child(1) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(30deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(-30deg);
          }
        }
      }
      div {
        position: relative;
        height: rem(22);
        width: rem(40);
        z-index: 1;
        p {
          position: absolute;
          height: rem(2);
          width: 100%;
          left: 50%;
          background-color: $white;
          transform: translate3d(-50%, 0, 0);
          transition: all $zoom .3s;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
          &:nth-child(3) {
            top: calc( 100% - rem(2) );
          }
        }
      }
    }
    #menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $navy;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      will-change: opacity;
      transition: opacity $zoom .5s, visibility 0s .5s;
      &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity $zoom .5s, visibility 0s;
        .logo, .sns {
          opacity: 1;
          transform: translate3d(-50%, 0, 0) !important;
        }
        ul {
          .jump {
            .word {
              .char {
                transform: translate3d(0, 0, 0);
              }
            }
          }
          li {
            &::after {
              width: 100%;
            }
          }
        }
      }
      .logo, .sns {
        opacity: 0;
        transform: translate3d(-50%, rem(20), 0) !important;
        transition: transform $slow 3s .5s, opacity $slow 3s .5s;
      }
      .logo {
        position: absolute;
        top: rem(50);
        left: 50%;
        width: rem(190.9028);
        transform: translate3d(-50%, 0, 0);
        img {
          height: auto;
          width: 100%;
        }
      }
      ul {
        @include fitcenter();
        @include center();
        width: 100%;
        li {
          position: relative;
          margin-right: rem(100);
          @include fontsize(22.5);
          color: $white;
          .word {
            .char {
              @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                  will-change: transform;
                  transition: transform 1.5s $slide
                    #{($i - 1) * 0.05}s;
                }
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
          &::after {
            position: absolute;
            left: 50%;
            bottom: rem(-10);
            transform: translate3d(-50%, 0, 0);
            content: '';
            height: rem(2);
            width: 0%;
            background-color: $white;
            will-change: width;
            transition: width $zoom 1s;
          }
        }
      }
      .sns {
        position: absolute;
        left: 50%;
        bottom: rem(50);
        transform: translate3d(-50%, 0, 0);
        .title {
          margin-bottom: rem(15);
          @include fontsize(15);
          color: $white;
          text-align: center;
        }
        a {
          margin: 0 auto;
          width: rem(35);
          display: block;
        }
      }
    }
  }
  #footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 rem(30);
    height: rem(83);
    box-sizing: border-box;
    background-color: $navy;
    .logo {
      width: rem(100);
    }
    p {
      @include fontsize(11); 
      text-align: center;
      color: $white;
    }
  }
  main {
    margin-top: rem(70);
    overflow: hidden;
    .section__inner {
      margin: 0 auto;
      width: 82.03125%;
      max-width: rem(1280);
    }
    .section-title {
      font-family: $Shippori;
      &.active {
        .under {
          &::after {
            width: 100%;
          }
        }
      }
      .under {
        position: relative;
        white-space: nowrap;
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          content: '';
          height: rem(4);
          width: 0%;
          background-color: $navy;
          transform: translate3d(-50%, 0, 0);
          will-change: width;
          transition: width $zoom 1s;
        }
      }
    }
    .note {
      @include fontsize(10);
      line-height: (18 / 10);
      &.black {
        color: $black;
      }
    }
    section {
      position: relative;
      &#top {
        // height: rem(600); 
        &::before {
          content: '';
          padding-top: 46.875%;
          display: block;
        }
        .wrapper {
          @include center();
          height: 100%;
          width: 100%;
          .keyv {
            @include center();
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: transform $zoom 1s, opacity $zoom 1s;
            &.active {
              opacity: 1;
              z-index: 1;
            }
            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      &#about {
        padding: rem(75) 0;
        background-color: $lightGray;
        .inline-block {
          display: inline-block;
          text-align: left;
        }
        .section-title {
          margin-bottom: rem(75);
          @include fontsize(45);
          align-items: flex-end;
          .text {
            padding-bottom: rem(20);
            display: inline-block;
          }
        }
        .sns {
          margin-top: rem(100);
          .title {
            margin-bottom: rem(35);
            @include fontsize(30);
            text-align: center;
          }
          a {
            display: block;
            margin: 0 auto;
            width: rem(50);
          }
        }
        .section {
          &__inner {
            text-align: center;
          }
          &-title-ja {
            margin-bottom: rem(35);
            @include fontsize(53.39);
            line-height: 1.6;
            white-space: nowrap;
            color: $navy;
          }
          &-text {
            margin-bottom: rem(35);
            @include fontsize(25.81);
            line-height: 1.6;
            color: $navy;
          }
        }
        .video {
          margin: 0 auto rem(35);
          height: rem(495);
          width: 83.80952380952381%;
          max-width: rem(880);
          background-color: gray;
          &::before {
            @include center();
            content: 'movie';
            @include fontsize(30);
            color: $white;
            z-index: 1;
          }
        }
      }
      &#shop-list {
        padding: rem(75) 0;
        .section {
          &-title {
            margin-bottom: rem(90);
            @include fontsize(45);
            align-items: flex-end;
            .text {
              margin: 0 rem(35);
              padding-bottom: rem(20);
              display: inline-block;
            }
            .img {
              img {
                height: rem(100);
                width: auto;
              }
            }
          }
        }
        .wrapper {
          flex-wrap: wrap;
          .shop {
            position: relative;
            margin-right: 2.8571428571428563%;
            margin-bottom: 3.80952380952381%;
            width: 22.857142857142856%;
            cursor: pointer;
            opacity: 0;
            transform: translate3d(0, rem(20), 0);
            will-change: transform, opacity;
            &.sweets {
              .shop-img {
              border: rem(2) solid #d77f75;
              }
              .shop-tag {
                background-color: #d77f75;
              }
            }
            &.food {
              .shop-img {
              border: rem(2) solid #e2b75c;
              }
              .shop-tag {
                background-color: #e2b75c;
              }
            }
            &.grocery {
              .shop-img {
              border: rem(2) solid #71b1a3;
              }
              .shop-tag {
                background-color: #71b1a3;
              }
            }
            &.restaurant・cafe {
              .shop-img {
              border: rem(2) solid #9fa0be;
              }
              .shop-tag {
                background-color: #9fa0be;
              }
            }
            &.others {
              .shop-img {
              border: rem(2) solid #a7b2be;
              }
              .shop-tag {
                background-color: #a7b2be;
              }
            }
            @for $i from 1 through 4 {
              &.order#{$i} {
                transition: transform $slow 3s #{($i - 1) * 0.1}s, opacity $slow 3s #{($i - 1) * 0.1}s;
              }
            }
            &.order0 {
              transition: transform $slow 3s .3s, opacity $slow 3s .3s;
            }
            &.active {
              opacity: 1;
              transform: translate3d(0, 0, 0);
            }
            &:hover {
              .shop-img img {
                transform: translate3d(0, 0, 0) scale(1.05);
              }
            }
            &:nth-child(4n) {
              margin-right: 0;
            }
            &-img {
              position: relative;
              margin-bottom: rem(10); 
              border-radius: rem(12.8571); 
              overflow: hidden;
              .shop-tag {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 rem(10);
                height: rem(20);
                line-height: rem(20);
                min-width: rem(50);
                @include fontsize(12);
                color: $white;
                text-align: center;
                z-index: 1;
              }
              img {
                // border-radius: rem(12.8571); 
                will-change: transform;
                transition: transform $slow 1s;
              }
            }
            &-name {
              color: $black;
              line-height: 1.4;
              span {
                display: block;
              }
              .en {
                // margin-bottom: rem(5); 
                @include fontsize(14);
              }
              .ja {
                @include fontsize(11);
              }
            }
          }
        }
      }
      &#store-map {
        padding: rem(75) 0;
        background-color: $lightGray;
        .section {
          &-title {
            margin-bottom: rem(75);
            @include fontsize(45);
            align-items: flex-end;
            .text {
              padding-bottom: rem(20);
              display: inline-block;
            }
          }
        }
        .title {
          margin-bottom: rem(35);
          height: rem(65);
          line-height: rem(65);
          @include fontsize(30);
          color: $navy;
          background-color: $orange;
          text-align: center;
        }
        .map-wrapper {
          margin-bottom: rem(15);
          .box {
            &.active {
              .box-title {
                &::after {
                flex-grow: 1;
                }
              }
            }
            &-title {
              margin-bottom: rem(20); 
              @include fontsize(15);
              &::after {
                display: block;
                margin-left: rem(10);
                content: "";
                flex-grow: 0;
                // width: 0%;
                border-bottom: rem(1) solid $navy;
                will-change: flex-grow;
                transition: flex-grow $zoom 1s;
              }
            }
            &:nth-child(1) {
              width: 35.23809523809524%;
            }
            &:nth-child(2) {
              width: 63.14285714285715%;
            }
          }
        }
      }
      &#store-information {
        padding: rem(75) 0 rem(100);
        .section {
          &-title {
            margin-bottom: rem(75);
            @include fontsize(45);
            align-items: flex-end;
            .text {
              margin: 0 rem(35);
              padding-bottom: rem(20);
              display: inline-block;
            }
          }
        }
        .title-wrapper {
          margin-bottom: rem(20);
          .title {
            margin-bottom: rem(5);
            height: rem(65);
            @include fitcenter();
            @include fontsize(30);
            @include tracking(50);
            color: $white;
            background-color: $navy;
            p {
              @include fitcenter();
            }
            .small {
              margin-right: rem(10);
              @include fontsize(15);
              &.ml {
                margin-left: rem(10);
                margin-right: 0;
              }
              &.yugothic {
                margin-left: rem(30);
                @include fontsize(10);
                line-height: 1.2;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .card-wrapper {
          margin: rem(50) auto;
          .box {
            width: 47.619047619047616%;
          }
        }
        .faq {
          &-title {
            position: relative;
            @include fitcenter();
            @include fontsize(30);
            height: rem(65);
            border: rem(1) solid $navy;
            cursor: pointer;
            &.open {
              img {
                transform: translate3d(0, -50%, 0) rotateX(0deg);
              }
            }
            img {
              position: absolute;
              top: 50%;
              right: rem(30);
              width: rem(40);
              transform: translate3d(0, -50%, 0) rotateX(180deg);
              transition: transform 0.5s $zoom;
            }
          }
          &-wrapper {
            height: 0;
            overflow: hidden;
            will-change: height;
            transition: height .5s $ziwaziwa;
            &.open {
              transition: height 1s $ziwaziwa;
            }
            &__inner {
              padding-top: rem(50); 
              .box {
                margin-bottom: rem(100);
                &-title {
                  @include fontsize(25);
                }
                &-text {
                  margin-top: rem(50);
                  @include fontsize(20);
                  .bold {
                    margin-bottom: rem(15);
                    display: block;
                  }
                  .small {
                    @include fontsize(14);
                  }
                }
                .note {
                  margin-top: rem(20);
                }
                .line-wrapper {
                  margin-top: rem(20);
                  border-top: rem(1) solid $navy;
                  border-bottom: rem(1) solid $navy;
                  .line {
                    border-bottom: rem(1) solid $navy;
                    &:last-child {
                      border-bottom: 0;
                    }
                    div {
                      box-sizing: border-box;
                      &:nth-child(1) {
                        width: 20.952380952380953%;
                      }
                      &:nth-child(2) {
                        padding: rem(30) 0 rem(30) rem(30);
                        border-left: rem(1) solid $navy;
                        width: calc( 100% - 20.952380952380953% );
                      }
                      p, ul {
                        @include fontsize(14);
                        @include tracking(50);
                        line-height: (21 / 14);
                      }
                      p {
                      }
                    }
                  }
                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}