// @import "./awesome";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
}
body {
  font-feature-settings: "palt";
  font-family: $YuGothic;
  color: $navy;
  opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
  ::selection {
    color: $white;
    background-color: $navy;
  }
  &.loaded,
  &.visited {
    opacity: 1;
  }
  .hidden {
    visibility: hidden;
  }
}
.jump {
  &.active {
    .word {
      .char {
        transform: translate3d(0, 0, 0);
        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            will-change: transform;
            transition: transform 1.5s $slide
              #{($i - 1) * 0.05}s;
          }
        }
      }
    }
  }
  .word {
    display: inline-block;
    line-height: 1;
    overflow: hidden;
  }
  .char {
    position: relative;
    display: inline-block;
    transform: translate3d(0, 102%, 0);
  }
} 
.bold {
  font-weight: bold;
}
.shippori {
  font-family: $Shippori;
  font-weight: 800;
}
.yugothic {
  font-family: $YuGothic;
}
.underline {
  color: $black;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.whitespace {
  white-space: nowrap;
}
.red {
  color: red !important;
}
ul {
  &.kome {
    li {
    display: flex;
      &::before {
        content: '※';
      }
    }
  }
  &.dot {
    li {
    display: flex;
      &::before {
        content: '・';
      }
    }
  }
}

@media screen and (max-width: 749px) {
  .marquee-slider {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  .show {
    opacity: 0;
    // transform: translate3d(0, vw(10), 0);
    transform: translate3d(0, vw(20), 0);
    // transition: transform ease 1s, opacity ease 1s;
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  .hover, a.underline {
    transition: opacity 0.5s $zoom;
    &:active {
      opacity: 0.5;
      will-change: opacity;
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    @include fitcenter();
    right: vw(50);
    bottom: vw(150);
    height: vw(100);
    width: vw(100);
    border-radius: 100%;
    // background-color: $navy;
    pointer-events: none;
    opacity: 0;
    // border: vw(2.5) solid $navy;
    will-change: background-color, opacity;
    transition: opacity 0.5s $zoom, background-color 0.5s $zoom;
    z-index: 10;
    svg {
      width: vw(57);
      .cls-1 {
        stroke: $white;
        will-change: stroke;
        transition: stroke 0.5s $zoom;
      }
      .cls-2 {
        stroke: $white;
        will-change: stroke, fill;
        transition: stroke 0.5s $zoom,fill 0.5s $zoom;
      }
    }
    &:active {
      background-color: $white;
      svg  {
      .cls-1 {
        stroke: $navy;
      }
      .cls-2 {
        fill: $navy;
        stroke: $navy;
      }
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    height: vw(84);
    width: vw(192);
    background-color: $navy;
    z-index: 10;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: vw(6);
      width: 100vw;
      display: block;
      background-color: $navy;
    }
    a {
      @include fitcenter();
      @include center();
      height: 100%;
      width: 100%;
      img {
        width: vw(120);
      }
    }
  }
  #footer {
    @include fitcenter();
    height: vw(100);
    background-color: $navy;
    p {
      @include fontvw(22); 
      text-align: center;
      color: $white;
    }
  }
  main {
    overflow: hidden;
    .section__inner {
      margin: 0 auto;
      width: vw(600);
    }
    section {
      position: relative;
      &#top {
        @include fitcenter();
        height: vw(750); 
        z-index: 1;
        .logo {
          z-index: 1;
          width: vw(600);
          img {
          visibility: hidden;
          &.visible {
            visibility: visible;
          }
          }
        }
        .date {
          position: absolute;
          @include fitcenter();
          left: 50%;
          bottom: vw(-37.5);
          transform: translate3d(-50%, vw(20), 0);
          height: vw(75);
          line-height: vw(75);
          width: vw(600);
          border: vw(2.5) solid $navy;
          border-radius: vw(37);
          background-color: $white;
          &.active {
          transform: translate3d(-50%, 0, 0);
          }
          img {
            height: vw(33.9668); 
            width: auto;
          }
        }
      }
      &#concept {
        padding: vw(140) 0 vw(270);
        background-color: $lightNavy;
        background-image: url(./../../assets/img/stripe.svg);
        background-size: 200%;
        background-repeat: repeat;
        .concept-box {
          padding: vw(100) 0;
          margin-bottom: vw(100);
          border-radius: vw(80);
          background-color: $navy;
          background-image: url(./../../assets/img/iitoki.svg);
          background-size: 200%;
          background-repeat: repeat;
          h2 {
            margin: 0 auto vw(100);
            width: vw(421.2295);
          }
          p {
            @include fontvw(28);
            @include tracking(150);
            line-height: (56 / 28);
            color: $white;
            text-align: center;
          }
        }
        .wrapper {
          .content {
            h3 {
              position: relative;
              padding-bottom: vw(45);
              margin-bottom: vw(100);
              @include fontvw(58);
              @include tracking(100);
              color: $navy;
              white-space: nowrap;
              overflow: hidden;
              text-align: center;
              &.active {
                &::after {
                  transform: translate3d(0, 0, 0);
                }
              }
              &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                content: '';
                height: vw(2.5);
                width: 100%;
                transform: translate3d(-102%, 0, 0);
                will-change: transform;
                background-color: $navy;
                transition: transform $slide 1.5s;
              }
            }
            p {
              @include fontvw(28);
              @include tracking(50);
              line-height: (56 / 28);
              white-space: nowrap;
            }
          }
          .img {
            margin-bottom: vw(100);
          }
        }
      }
      &#more {
        padding: vw(330) 0 vw(200);
        .slider {
          position: absolute;
          top: vw(-180);
          left: 50%;
          width: 100vw;
          transform: translate3d(-50%, 0, 0);
        }
        .more {
          text-align: center;
            &.active {
              .en {
              &::after {
                width: 100%;
              }
              }
            }
          p {
            position: relative;
            display: inline-block;
          }
          .en {
            padding-bottom: vw(40);
            margin-bottom: vw(35);
            img {
              margin: 0 auto;
              width: vw(575.5547);
            }
            &::after {
              position: absolute;
              left: 50%;
              bottom: 0;
              display: block;
              content: '';
              height: vw(2.5);
              width: 0%;
              transform: translate3d(-50%, 0, 0);
              will-change: width;
              background-color: $navy;
              transition: width $slide 1.5s;
            }
          }
          .ja {
            @include fontvw(24);
            @include tracking(20);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .marquee-slider {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  .show {
    opacity: 0;
    transform: translate3d(0, rem(20), 0);
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  .hover, a.underline {
    transition: opacity 0.5s $zoom;
    &:hover {
      opacity: 0.5;
      will-change: opacity;
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    @include fitcenter();
    right: rem(50);
    bottom: rem(130);
    border-radius: 100%;
    // background-color: $navy;
    pointer-events: none;
    opacity: 0;
    // border: rem(2) solid $navy;
    will-change: background-color, opacity;
    transition: opacity 0.5s $zoom, background-color 0.5s $zoom;
    z-index: 10;
    svg {
      display: block;
      margin: 0 auto;
      width: rem(42.4264);
      .cls-1 {
        stroke: $white;
        will-change: stroke;
        transition: stroke 0.5s $zoom;
      }
      .cls-2 {
        stroke: $white;
        will-change: stroke, fill;
        transition: stroke 0.5s $zoom,fill 0.5s $zoom;
      }
    }
    p {
      margin-top: rem(10);
      @include fontsize(20);
    }
    &:hover {
      // background-color: $white;
      svg  {
      .cls-1 {
        stroke: $navy;
      }
      .cls-2 {
        fill: $navy;
        stroke: $navy;
      }
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10;
    h1 {
      position: absolute;
      @include fitcenter();
      top: 0;
      left: 0;
      height: rem(70);
      width: rem(120);
      background-color: $navy;
      img {
        width: rem(95.4514);
      }
    }
    .menu-trigger {
      position: absolute;
      @include fitcenter();
      top: 0;
      right: 0;
      height: rem(70);
      width: rem(70);
      cursor: pointer;
      background-color: $navy;
      z-index: 101;
      &.active {
        div p {
          &:nth-child(1) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(30deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(-30deg);
          }
        }
      }
      div {
        position: relative;
        height: rem(22);
        width: rem(40);
        p {
          position: absolute;
          height: rem(2);
          width: 100%;
          left: 50%;
          background-color: $white;
          transform: translate3d(-50%, 0, 0);
          transition: all $zoom .2s;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
          &:nth-child(3) {
            top: calc( 100% - rem(1) );
          }
        }
      }
    }
    #menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $navy;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      will-change: opacity;
      transition: opacity $zoom .5s, visibility 0s .5s;
      &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity $zoom .5s, visibility 0s;
        .logo, .sns {
          opacity: 1;
          transform: translate3d(-50%, 0, 0) !important;
        }
        ul {
          .jump {
            .word {
              .char {
                transform: translate3d(0, 0, 0);
              }
            }
          }
          li {
            &::after {
              width: 100%;
            }
          }
        }
      }
      .logo, .sns {
        opacity: 0;
        transform: translate3d(-50%, rem(20), 0) !important;
        transition: transform $slow 3s .5s, opacity $slow 3s .5s;
      }
      .logo {
        position: absolute;
        top: rem(50);
        left: 50%;
        width: rem(190.9028);
        transform: translate3d(-50%, 0, 0)
      }
      ul {
        @include fitcenter();
        @include center();
        width: 100%;
        li {
          position: relative;
          margin-right: rem(100);
          @include fontsize(22.5);
          color: $white;
          .word {
            .char {
              @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                  will-change: transform;
                  transition: transform 1.5s $slide
                    #{($i - 1) * 0.05}s;
                }
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
          &::after {
            position: absolute;
            left: 50%;
            bottom: rem(-10);
            transform: translate3d(-50%, 0, 0);
            content: '';
            height: rem(2);
            width: 0%;
            background-color: $white;
            will-change: width;
            transition: width $zoom 1s;
          }
        }
      }
      .sns {
        position: absolute;
        left: 50%;
        bottom: rem(50);
        transform: translate3d(-50%, 0, 0);
        .title {
          margin-bottom: rem(15);
          @include fontsize(15);
          color: $white;
          text-align: center;
        }
        a {
          margin: 0 auto;
          width: rem(35);
          display: block;
        }
      }
    }
  }
  #footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 rem(30);
    height: rem(83);
    box-sizing: border-box;
    background-color: $navy;
    .logo {
      width: rem(100);
    }
    p {
      @include fontsize(11); 
      text-align: center;
      color: $white;
    }
  }
  main {
    overflow: hidden;
    .section__inner {
      margin: 0 auto;
      width: 82.03125%;
      max-width: rem(1050);
    }
    .section-title {
      font-family: $Shippori;
      &.active {
        .under {
          &::after {
            width: 100%;
          }
        }
      }
      .under {
        position: relative;
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          content: '';
          height: rem(4);
          width: 0%;
          background-color: $navy;
          transform: translate3d(-50%, 0, 0);
          will-change: width;
          transition: width $zoom 1s;
        }
      }
    }
    .note {
      @include fontsize(10);
      line-height: (18 / 10)
    }
    section {
      position: relative;
      &#top {
        height: rem(600); 
        .wrapper {
          position: relative;
          height: 100%;
          .keyv {
            @include center();
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: transform $zoom 1s, opacity $zoom 1s;
            &.active {
              opacity: 1;
            }
            img {
              object-fit: cover;
            }
          }
        }
      }
      &#about {
        padding: rem(75) 0;
        background-color: $lightGray;
        .section {
          &-title {
            margin-bottom: rem(35);
            @include fontsize(53.39);
            color: $navy;
          }
          &-text {
            @include fontsize(25.81);
            line-height: (30.97 / 25.81);
            color: $navy;
          }
        }
      }
      &#shop-list {
        padding: rem(75) 0;
        .section {
          &-title {
            margin-bottom: rem(90);
            @include fontsize(45);
            align-items: flex-end;
            .text {
              margin: 0 rem(35);
              padding-bottom: rem(20);
              display: inline-block;
            }
            .img {
              img {
                height: rem(100);
                width: auto;
              }
            }
          }
        }
        .wrapper {
          flex-wrap: wrap;
          .shop {
            margin-right: 2.8571428571428563%;
            margin-bottom: 3.80952380952381%;
            width: 22.857142857142856%;
            &:nth-child(4n) {
              margin-right: 0;
            }
            &-img {
              margin-bottom: rem(10); 
              img {
                border-radius: rem(12.8571); 
              }
            }
            &-name {
              span {
                display: block;
              }
              .en {
                margin-bottom: rem(5); 
                @include fontsize(14);
              }
              .ja {
                @include fontsize(11);
              }
            }
          }
        }
      }
      &#store-map {
        padding: rem(75) 0;
        background-color: $lightGray;
        .section {
          &-title {
            margin-bottom: rem(75);
            @include fontsize(45);
            align-items: flex-end;
            .text {
              padding-bottom: rem(20);
              display: inline-block;
            }
          }
        }
        .title {
          margin-bottom: rem(35);
          height: rem(65);
          line-height: rem(65);
          @include fontsize(30);
          color: $navy;
          background-color: $orange;
          text-align: center;
        }
        .map-wrapper {
          margin-bottom: rem(15);
          .box {
            &.active {
              .box-title {
                &::after {
                flex-grow: 1;
                }
              }
            }
            &-title {
              margin-bottom: rem(20); 
              @include fontsize(15);
              &::after {
                display: block;
                margin-left: rem(10);
                content: "";
                flex-grow: 0;
                // width: 0%;
                border-bottom: rem(1) solid $navy;
                will-change: flex-grow;
                transition: flex-grow $zoom 1s;
              }
            }
            &:nth-child(1) {
              width: 35.23809523809524%;
            }
            &:nth-child(2) {
              width: 63.14285714285715%;
            }
          }
        }
      }
      &#store-information {
        padding: rem(75) 0 rem(100);
        .section {
          &-title {
            margin-bottom: rem(75);
            @include fontsize(45);
            align-items: flex-end;
            .text {
              margin: 0 rem(35);
              padding-bottom: rem(20);
              display: inline-block;
            }
          }
        }
        .title-wrapper {
          margin-bottom: rem(20);
          .title {
            margin-bottom: rem(5);
            height: rem(65);
            @include fitcenter();
            @include fontsize(30);
            color: $white;
            background-color: $navy;
            p {
              @include fitcenter();
            }
            .small {
              margin-right: rem(5);
              @include fontsize(15);
              &.yugothic {
                margin-left: rem(30);
                margin-right: rem(30);
                @include fontsize(10);
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .card-wrapper {
          margin: rem(50) auto;
          .box {
            width: 47.619047619047616%;
          }
        }
        .faq {
          &-title {
            position: relative;
            @include fitcenter();
            @include fontsize(30);
            height: rem(65);
            border: rem(1) solid $navy;
            cursor: pointer;
            &.open {
              img {
                transform: translate3d(0, -50%, 0) rotateX(180deg);
              }
            }
            img {
              position: absolute;
              top: 50%;
              right: rem(30);
              width: rem(40);
              transform: translate3d(0, -50%, 0);
              transition: transform 0.5s $zoom;
            }
          }
          &-wrapper {
            height: 0;
            overflow: hidden;
            will-change: height;
            transition: height .5s $ziwaziwa;
            &__inner {
              padding-top: rem(50); 
              .box {
                margin-bottom: rem(100);
                &-title {
                  @include fontsize(25);
                }
                &-text {
                  margin-top: rem(50);
                  @include fontsize(20);
                  .bold {
                    margin-bottom: rem(15);
                    display: block;
                  }
                  .small {
                    @include fontsize(14);
                  }
                }
                .note {
                  margin-top: rem(20);
                }
                .line-wrapper {
                  margin-top: rem(20);
                  border-top: rem(1) solid $navy;
                  border-bottom: rem(1) solid $navy;
                  .line {
                    border-bottom: rem(1) solid $navy;
                    &:last-child {
                      border-bottom: 0;
                    }
                    div {
                      box-sizing: border-box;
                      &:nth-child(1) {
                        width: 20.952380952380953%;
                      }
                      &:nth-child(2) {
                        padding: rem(30) 0 rem(30) rem(30);
                        border-left: rem(1) solid $navy;
                        width: calc( 100% - 20.952380952380953% );
                      }
                      p, ul {
                        @include fontsize(14);
                        @include tracking(50);
                        line-height: (21 / 14);
                      }
                      p {
                      }
                    }
                  }
                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
              .sns {
                margin-top: rem(100);
                .title {
                  margin-bottom: rem(35);
                  @include fontsize(30);
                  text-align: center;
                }
                a {
                  display: block;
                  margin: 0 auto;
                  width: rem(50);
                }
              }
            }
          }
        }
      }
    }
  }
}