// @import "./awesome";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
}
body {
  font-feature-settings: "palt";
  font-family: $YuGothic;
  color: $navy;
  opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
  ::selection {
    color: $white;
    background-color: $navy;
  }
  &.loaded,
  &.visited {
    opacity: 1;
  }
  .hidden {
    visibility: hidden;
  }
}
.bold {
  font-weight: bold;
}
.futura {
  font-family: $Futura;
}
.underline {
  color: $black;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.whitespace {
  white-space: nowrap;
}
.red {
  color: red !important;
}

@media screen and (max-width: 749px) {
  .marquee-slider {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  .show {
    opacity: 0;
    // transform: translate3d(0, vw(10), 0);
    transform: translate3d(0, vw(20), 0);
    // transition: transform ease 1s, opacity ease 1s;
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  .hover, a.underline {
    transition: opacity 0.5s $zoom;
    &:active {
      opacity: 0.5;
      will-change: opacity;
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    @include fitcenter();
    right: vw(50);
    bottom: vw(150);
    height: vw(100);
    width: vw(100);
    border-radius: 100%;
    background-color: $navy;
    pointer-events: none;
    opacity: 0;
    border: vw(2.5) solid $navy;
    will-change: background-color, opacity;
    transition: opacity 0.5s $zoom, background-color 0.5s $zoom;
    z-index: 10;
    svg {
      width: vw(57);
      .cls-1 {
        stroke: $white;
        will-change: stroke;
        transition: stroke 0.5s $zoom;
      }
      .cls-2 {
        stroke: $white;
        will-change: stroke, fill;
        transition: stroke 0.5s $zoom,fill 0.5s $zoom;
      }
    }
    &:active {
      background-color: $white;
      svg  {
      .cls-1 {
        stroke: $navy;
      }
      .cls-2 {
        fill: $navy;
        stroke: $navy;
      }
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    height: vw(84);
    width: vw(192);
    background-color: $navy;
    z-index: 10;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: vw(6);
      width: 100vw;
      display: block;
      background-color: $navy;
    }
    a {
      @include fitcenter();
      @include center();
      height: 100%;
      width: 100%;
      img {
        width: vw(120);
      }
    }
  }
  #footer {
    @include fitcenter();
    height: vw(100);
    background-color: $navy;
    p {
      @include fontvw(22); 
      text-align: center;
      color: $white;
    }
  }
  main {
    overflow: hidden;
    .section__inner {
      margin: 0 auto;
      width: vw(600);
    }
    section {
      position: relative;
      &#top {
        @include fitcenter();
        height: vw(750); 
        z-index: 1;
        .logo {
          z-index: 1;
          width: vw(600);
          img {
          visibility: hidden;
          &.visible {
            visibility: visible;
          }
          }
        }
        .date {
          position: absolute;
          @include fitcenter();
          left: 50%;
          bottom: vw(-37.5);
          transform: translate3d(-50%, vw(20), 0);
          height: vw(75);
          line-height: vw(75);
          width: vw(600);
          border: vw(2.5) solid $navy;
          border-radius: vw(37);
          background-color: $white;
          &.active {
          transform: translate3d(-50%, 0, 0);
          }
          img {
            height: vw(33.9668); 
            width: auto;
          }
        }
      }
      &#concept {
        padding: vw(140) 0 vw(270);
        background-color: $lightNavy;
        background-image: url(./../../assets/img/stripe.svg);
        background-size: 200%;
        background-repeat: repeat;
        .concept-box {
          padding: vw(100) 0;
          margin-bottom: vw(100);
          border-radius: vw(80);
          background-color: $navy;
          background-image: url(./../../assets/img/iitoki.svg);
          background-size: 200%;
          background-repeat: repeat;
          h2 {
            margin: 0 auto vw(100);
            width: vw(421.2295);
          }
          p {
            @include fontvw(28);
            @include tracking(150);
            line-height: (56 / 28);
            color: $white;
            text-align: center;
          }
        }
        .wrapper {
          .content {
            h3 {
              position: relative;
              padding-bottom: vw(45);
              margin-bottom: vw(100);
              @include fontvw(58);
              @include tracking(100);
              color: $navy;
              white-space: nowrap;
              overflow: hidden;
              text-align: center;
              &.active {
                &::after {
                  transform: translate3d(0, 0, 0);
                }
              }
              &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                content: '';
                height: vw(2.5);
                width: 100%;
                transform: translate3d(-102%, 0, 0);
                will-change: transform;
                background-color: $navy;
                transition: transform $slide 1.5s;
              }
            }
            p {
            @include fontvw(28);
            @include tracking(20);
            line-height: (56 / 28);
            }
          }
          .img {
            margin-bottom: vw(100);
          }
        }
      }
      &#more {
        padding: vw(330) 0 vw(200);
        .slider {
          position: absolute;
          top: vw(-180);
          left: 50%;
          width: 100vw;
          transform: translate3d(-50%, 0, 0);
        }
        .more {
          text-align: center;
            &.active {
              .en {
              &::after {
                width: 100%;
              }
              }
            }
          p {
            position: relative;
            display: inline-block;
          }
          .en {
            padding-bottom: vw(40);
            margin-bottom: vw(35);
            img {
              margin: 0 auto;
              width: vw(575.5547);
            }
            &::after {
              position: absolute;
              left: 50%;
              bottom: 0;
              display: block;
              content: '';
              height: vw(2.5);
              width: 0%;
              transform: translate3d(-50%, 0, 0);
              will-change: width;
              background-color: $navy;
              transition: width $slide 1.5s;
            }
          }
          .ja {
            @include fontvw(24);
            @include tracking(20);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .marquee-slider {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  .show {
    opacity: 0;
    // transform: translate3d(0, vw(10), 0);
    transform: translate3d(0, rem(20), 0);
    // transition: transform ease 1s, opacity ease 1s;
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  .hover, a.underline {
    transition: opacity 0.5s $zoom;
    &:hover {
      opacity: 0.5;
      will-change: opacity;
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    @include fitcenter();
    right: rem(50);
    bottom: rem(100);
    height: rem(50);
    width: rem(50);
    border-radius: 100%;
    background-color: $navy;
    pointer-events: none;
    opacity: 0;
    border: rem(2) solid $navy;
    will-change: background-color, opacity;
    transition: opacity 0.5s $zoom, background-color 0.5s $zoom;
    z-index: 10;
    svg {
      width: rem(28.5);
      .cls-1 {
        stroke: $white;
        will-change: stroke;
        transition: stroke 0.5s $zoom;
      }
      .cls-2 {
        stroke: $white;
        will-change: stroke, fill;
        transition: stroke 0.5s $zoom,fill 0.5s $zoom;
      }
    }
    &:hover {
      background-color: $white;
      svg  {
      .cls-1 {
        stroke: $navy;
      }
      .cls-2 {
        fill: $navy;
        stroke: $navy;
      }
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    height: rem(70);
    width: rem(160);
    background-color: $navy;
    z-index: 10;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: rem(4);
      width: 100vw;
      display: block;
      background-color: $navy;
    }
    a {
      @include fitcenter();
      @include center();
      height: 100%;
      width: 100%;
      img {
        width: rem(100);
      }
    }
  }
  #footer {
    @include fitcenter();
    height: rem(50);
    background-color: $navy;
    p {
      @include fontsize(11); 
      text-align: center;
      color: $white;
    }
  }
  main {
    overflow: hidden;
    .section__inner {
      margin: 0 auto;
      width: 84.375%;
      max-width: rem(1080);
    }
    section {
      position: relative;
      &#top {
        @include fitcenter();
        height: rem(600); 
        z-index: 1;
        .logo {
          z-index: 1;
          width: rem(600);
          img {
          visibility: hidden;
          &.visible {
            visibility: visible;
          }
          }
        }
        .date {
          position: absolute;
          @include fitcenter();
          left: 50%;
          bottom: rem(-31.5);
          transform: translate3d(-50%, rem(20), 0);
          height: rem(63);
          line-height: rem(63);
          width: rem(500);
          text-align: center;
          @include fontsize(38);
          @include tracking(80);
          border: rem(2) solid $navy;
          border-radius: rem(31.5057);
          background-color: $white;
          &.active {
          transform: translate3d(-50%, 0, 0);
          }
          img {
            height: rem(28.3066);
            width: auto;
          }
        }
      }
      &#concept {
        padding: rem(100) 0 17.1875vw;
        background-color: $lightNavy;
        background-image: url(./../../assets/img/stripe.svg);
        background-size: 100%;
        background-repeat: repeat;
        .concept-box {
          padding: rem(100) 0;
          margin-bottom: rem(100);
          border-radius: rem(80);
          background-color: $navy;
          background-image: url(./../../assets/img/iitoki.svg);
          background-size: 100%;
          background-repeat: repeat;
          h2 {
            margin: 0 auto rem(60);
            width: rem(648.4033);
          }
          p {
            @include fontsize(16);
            @include tracking(150);
            line-height: (34 / 16);
            color: $white;
            text-align: center;
          }
        }
        .wrapper {
          .content {
            width: 47%; 
            h3 {
              position: relative;
              padding-bottom: rem(40);
              margin-bottom: rem(35);
              overflow: hidden;
              &.active {
                &::after {
                  transform: translate3d(0, 0, 0);
                }
              }
              &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                content: '';
                height: rem(2);
                width: 100%;
                transform: translate3d(-102%, 0, 0);
                will-change: transform;
                background-color: $navy;
                transition: transform $slide 1.5s;
              }
            }
            p {
            @include fontsize(15);
            @include tracking(20);
            line-height: (37 / 15);
            font-weight: bold;
            }
          }
          .img {
            width: 42.058138888888885%;
          }
        }
      }
      &#more {
        padding: 9.375vw 0 rem(100);
        .slider {
          position: relative;
          margin-top: calc( -9.375vw * 2 );
          margin-bottom: rem(100);
          left: 50%;
          width: 100vw;
          transform: translate3d(-50%, 0, 0);
        }
        .more {
          text-align: center;
            &.active {
              .en {
              &::after {
                width: 100%;
              }
              }
            }
          p {
            position: relative;
            display: inline-block;
          }
          .en {
            padding-bottom: rem(30);
            margin-bottom: rem(25);
            img {
              width: rem(430);
            }
            &::after {
              position: absolute;
              left: 50%;
              bottom: 0;
              display: block;
              content: '';
              height: rem(2);
              width: 0%;
              transform: translate3d(-50%, 0, 0);
              will-change: width;
              background-color: $navy;
              transition: width $slide 1.5s;
            }
          }
          .ja {
            @include fontsize(14);
            @include tracking(20);
          }
        }
      }
    }
  }
}


@media screen and (min-width: 750px) and (max-width: 1280px) {
  main {
    section {
      &#concept {
        padding: rem(100) 0 rem(220);
      }
      &#more {
        padding: rem(120) 0 rem(100);
        .slider {
          margin-top: rem(-240);
          min-width: rem(1280);
        }
      }
    }
  }
}
